	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<title>Eat-Da-Burger!</title>
    <link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/assets/js/front_end.js"></script>
	</head>
	<body>
	 
		{{{body}}}
	 
	</body>
	</html>


  		
		<title>MVC With Cats!</title>
