<h1>Eat-Da-Burger!</h1>

<ul>
  {{#each burgers}}
{{!-- consider using unless block! --}}
      {{> burger-block }}
  {{/each}}
</ul>

<h2>Add a Burger!</h2>
<form class="create-form">
  <div class="form-group">
    {{!-- TODO: is this better named 'burger_name'? --}}
    <label for="nb">Burger Name:</label>
    <input type="text" id="nb" name="name">
  </div>
  <br>
   <button type="submit">Add Burger</button>
</form>
  <br>
  <br>